<h2><%= t(:treeview, :default => 'Treeview') %> <%= t(:alumn, :default => "alumn") %></h2>

<div id="treeview">
  <ul>
    <% Alumn.transaction do %>
    <% ar = Alumn.where(:alumn_id => nil) %>
    <% ar = ar.order("position") if Alumn.column_names.include?("position") %>
      <% for g in ar.all %>
        <%= build_treeview(g, 'alumns') %>
      <% end %>
    <% end %>
  </ul>
</div>

<%
 namespace_for_url = "admin/"
 plural_model_name = "alumns"
 model_name        = "alumn"
 opened_node       = Alumn.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
%>

<%= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url } %>

