<h2><%= t(:treeview, :default => 'Treeview') %> <%= t(:school, :default => "school") %></h2>

<div id="treeview">
  <ul>
    <% School.transaction do %>
    <% ar = School.where(:school_id => nil) %>
    <% ar = ar.order("position") if School.column_names.include?("position") %>
      <% for g in ar.all %>
        <%= build_treeview(g, 'schools') %>
      <% end %>
    <% end %>
  </ul>
</div>

<%
 namespace_for_url = "admin/"
 plural_model_name = "schools"
 model_name        = "school"
 opened_node       = School.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
%>

<%= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url } %>

